.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #49acda;
  padding: 10px;
  margin-bottom: 5px;
}

.button {
  border: none;
  padding: 10px;
  background-color: #0279bf;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  transition: 0.2s all;
}
